# Server Configurations
PORT=5000
DATABASE_URL=database.db

# Dynamic Pricing Config
BASE_RATE_B2B=20.00
BASE_RATE_B2C=15.00
INTRA_ZONE_RATE_KG_B2B=5.00
INTRA_ZONE_RATE_KG_B2C=4.00
INTER_ZONE_RATE_KG_B2B=10.00
INTER_ZONE_RATE_KG_B2C=8.00
COD_SURCHARGE_FLAT_B2B=15.00
COD_SURCHARGE_FLAT_B2C=10.00

# Optional SMTP Mail Server settings for real email dispatch
# SMTP_HOST=smtp.mailtrap.io
# SMTP_PORT=2525
# SMTP_USER=your_smtp_username
# SMTP_PASS=your_smtp_password
# SMTP_FROM=no-reply@thinklastmile.com
